body {
  font: normal 18px/1.5 "Helvetica Neue", sans-serif;
}
/*
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-001.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-002.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-003.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-005.jpg
*/